<app-menu></app-menu>
<div class="px-2">
    <h3 class="display-4">{{title}}</h3>
    <div *ngIf="!isReviewer">Must be a reviewer to view this page..</div>
    <div *ngIf="isReviewer">
        <div *ngIf="!requests">Loading...</div>
        <div *ngIf="requests">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Date Submitted</th>
                        <th>Date Needed</th>
                        <th>User</th>
                        <th>Total</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of requests">
                        <td>{{r.description}}</td>
                        <td>{{r.submittedDate | date: fullDate}}</td>
                        <td>{{r.dateNeeded | date: fullDate}}</td>
                        <td>{{r.user.username}}</td>
                        <td>{{r.total | currency}}</td>
                        <td><a routerLink="/requests/approve/{{r.id}}">
                                <img src="assets/review.png" width="20" height="20">
                            </a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>