<app-menu></app-menu>
<div class="px-2">
    <h4 class="display-1" id="homeTitleAni">
        <span style="padding-right: 25px; padding-left: 10%;">
        <img src="assets/MAX Logo.svg" width="200" height="100" style="display: inline-block;">
        </span> |
        <span style="padding: 0 0;">
        <img src="assets/PRS logo.svg" width="150" height="120" style="display: inline-block;">
        </span>
        <span style="bottom: 0;position: relative;">
        Capstone
        </span>
    </h4>
    <div>
        <img src="assets/great-pyramid-giza.jpg" class="pyramid">
    </div>
</div>