<app-menu></app-menu>
<div class="px-2">
    <h4 id="titleAni" style="text-align: center;" class="display-4">About Our
        <img src="assets/PRS logo.svg" width="160" height="110" class="spin"> Capstone</h4>
    <div class="about-grid">
        <div class="info">
            <div></div>
            <div>
                <div class="pyr-one">
                    <img src="assets/pyramid-one.png" width="25%" height="25%"> <br>
                </div>
                <div class="pyr-two">
                    <img src="assets/pyramid-two.png" width="63.9%" height="63%"><br>
                </div>
                <div class="pyr-three">
                    <img src="assets/pyramid-three.png" width="63.9%" height="63%">
                </div>
            </div>
            <div></div>
        </div>
    </div>
</div>